.wrapper {
    padding-top: 50px;
    /* background: rgb(9, 148, 241); */
    background: url("http://home.bt.com/images/how-to-say-hello-in-7-different-languages-136394549785403901-141121162038.jpg") center;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
  
 
  